#myInput {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 65%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 20px; /* Add some padding */
    border: 2px solid #ddd; /* Add a grey border */
    margin-bottom: 0.5%; /* Add some space below the input */
    margin-top:0.5%;
  }
  #intestation {
    float: left;
    margin-top:0.5%;
    margin-left: 0.5%;
    width: 14%;
  }
  #imagine{
    float: right;
    margin-right: 1%;
    margin-top:0.5%;
    width: 15%;
  }
  .half-height {
    height: 50vh;
    max-height: 50%; 
    overflow-y: auto; 
  }

  
  .sticky-thead th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;/
  }
